<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>semi_temp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
	<servlet>	
		<servlet-name>TaxiController</servlet-name>
		<servlet-class>web.controller.taxi.TaxiController</servlet-class>
	</servlet>	
	

  
   <servlet>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<servlet-class>web.controller.login.UserRegisterServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<servlet-class>web.controller.login.UserLoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UserModifyServlet</servlet-name>
  	<servlet-class>web.controller.login.UserModifyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>UserModifyServlet</servlet-name>
  	<url-pattern>/userModify</url-pattern>
  </servlet-mapping>
  
  	<servlet-mapping>	
		<servlet-name>TaxiController</servlet-name>
		<url-pattern>/taxi.do</url-pattern>
	</servlet-mapping>	
  
  
</web-app>